#root {
  width: 1250px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.item {
  box-shadow: 0 5px 25px 0 #fff;
  border: 2px solid #fff;
  border-radius: 25px;
  margin-bottom: 25px;
  background-color: #252ED9;
  padding: 3px;
}

ul {
  font-size: 25px;
  list-style: none;
}

h3{
  font-size: 35px;
}

.container {
  text-align: cen;
}

h1 {
  margin-left: 77px;
}