.pessoaContainer {
    background-color: #868686;
    border: 1px solid #111;
    display: block;
    border-radius: 15px;
    padding: 10px;
} 
.bloco {
    width: 50%;
    margin: 10px;
    background-color: #333;
    border-radius: 15px;
    border: 5px solid #c9c9c9;
}
.displayFlex{
    display: flex;
    margin: 1px;
}
.imagem{
    border-radius: 15px;
}